@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --font-family-winky: 'Winky Sans', sans-serif;
  --font-family-quicksand: 'Quicksand', sans-serif;
}

@keyframes star-movement-bottom {
  0% { transform: translate(0%, 0%); opacity: 1; }
  100% { transform: translate(-100%, 0%); opacity: 0; }
}

@keyframes star-movement-top {
  0% { transform: translate(0%, 0%); opacity: 1; }
  100% { transform: translate(100%, 0%); opacity: 0; }
}

@layer utilities {
  .animate-star-movement-bottom {
    animation: star-movement-bottom linear infinite alternate;
  }
  
  .animate-star-movement-top {
    animation: star-movement-top linear infinite alternate;
  }
}
